ul {
    list-style-type: none;
    margin: 0;
    padding: 12px;
    background-color: #3d3b3b;
}

li {
    display: inline;
}

li#title {
    color: aliceblue;
    margin: 0;
    padding: 12px;
    background-color: #3d3b3b;
    text-decoration: none;
    font-size: 20px;
}