body{
    background-color: darkgray;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 12px;
    background-color: #3d3b3b;
}

li {
    display: inline;
}

li#title {
    color: aliceblue;
    margin: 0;
    padding: 12px;
    background-color: #3d3b3b;
    text-decoration: none;
    font-size: 20px;
}

a {
    display: inline;
    margin: 0;
    padding: 12px;
    color: aliceblue;
    background-color: #3d3b3b;
    text-decoration: none;
}

a:hover {
    background-color: #686565
}